.inputDiv {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
  }
  .inputLabel {
    display: flex;
    margin: 0 3% 3%;
    width: 100px;
  }
  .inputBox {
    display: flex;
  }